  .container {
    min-height: 100vh;
    padding: 40px 20px;
    background: 
    linear-gradient(rgba(201, 155, 155, 0.511), rgba(0, 0, 0, 0.7)),
    url('/contatos.jpg') center/cover no-repeat;
    color: black;
    display: flex;
    justify-content: center;
  }
  .main {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff43;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
  }
  
  .main h1 {
    font-size: 2rem;
    color: #1f2937;
    margin-bottom: 30px;
  }
  
  .main p {
    font-size: 1.1rem;
    color: #374151;
    margin-bottom: 20px;
  }
  
  .main a {
    color: #2563eb;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .main a:hover {
    text-decoration: underline;
    color: #1d4ed8;
  }
  